<launch>

	<arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
	<arg name="nodelet_manager" default="$(optenv VISUALIZATION_NODELET_MANAGER visualization_nodelet_manager)" />

	<node unless="$(arg use_nodelets)"
		pkg="autonomos_obstacle_msgs"
		name="autonomos_obstacle_msgs_visualizer"
		type="autonomos_obstacle_msgs_visualizer"
	>
	</node>

	<node if="$(arg use_nodelets)"
		pkg="nodelet"
		type="nodelet"
		name="autonomos_obstacle_msgs_visualizer"
		args="load autonomos_obstacle_msgs_visualizer/Nodelet $(arg nodelet_manager)"
	>
	</node>

</launch>
