<launch>
	<!-- $ rosrun nodelet nodelet manager __name:=sample_nodelet_manager -->
	<node pkg="nodelet" type="nodelet" args="manager"
    name="mp_nodelet_manager" output="screen" />

	<!-- $ rosrun nodelet nodelet load sample_nodelet/SampleNodeletClass sample_nodelet_manager __name:=SampleNodeletClass_loader-->
	<node pkg="nodelet" type="nodelet" args="load MotionPlanner/MotionPlanner mp_nodelet_manager"
    name="MotionPlanner" output="screen">
	</node>
	<!--node pkg="nodelet" type="nodelet" args="load MotionPlanner/VehicleState mp_nodelet_manager"
		name="VehicleState" output="screen">
	</node-->
</launch>
